html, body {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

#sys_col {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: calc(100% - 50px) 50px;
}

#sys_col_log {
  text-align: left;
  box-sizing: border-box;
  grid-column: span 12;
  padding: .5em;
  overflow: auto;
}

#sys_col_bar {
  margin-top: .5em;
  border-top: 1px solid #000000;
  padding: .5em;
  grid-column: span 12;
  display: flex;
  align-items: flex-end;
  cursor: default;
}

#sys_col_bar button {
  margin: 0 0 0 0.5em;
  border-radius: 0.25em;
}

#sys_col_bar .sys_col_status {
  font-family: monospace;
  align-self: center;
}

/*
 * ROWS
 */

.sys_col_row {
  font-family: monospace;
  border: 0;
  border-bottom: 1px solid transparent;
  margin: 0;
  padding: 0;
  display: flex;
  cursor: text;
}

.sys_col_row:hover {
  /* EMPTY */
}

/*
 * COMMANDS
 */

.sys_col_command {
  /* EMPTY */
}

/*
 * RESPONSES
 */

.sys_col_response {
  /* EMPTY */
}

.sys_col_response.pass {
  /* EMPTY */
}

.sys_col_response.fail,
.sys_col_message.error,
.sys_col_message.stack {
  /* EMPTY */
}

.sys_col_message.stack {
  padding-left: 2em;
}

/*
 * PREFIXES
 */

.sys_col_command:before {
  color: #008000;
  content: "◀︎";
  display: inline-block;
  width: 1em;
}

.sys_col_response:before {
  color: #800000;
  content: "▶︎";
  display: inline-block;
  width: 1em;
}

.sys_col_message:before {
  color: #000000;
  content: " ";
  display: inline-block;
  width: 1em;
}

.sys_col_message.log:before {
  content: " ";
}

.sys_col_message.info:before {
  font-weight: bold;
  content: "i";
}

.sys_col_message.error:before {
  font-weight: bold;
  color: #800000;
  content: "?";
}

/*
 * TIMINGS
 */

.sys_col_elapsed {
  margin-left: 1em;
}

.sys_col_status .test-count {
  font-weight: bold;
}

/*
 * COLOR SCHEMES
 */

@media (prefers-color-scheme: light) {
  body {
    background: #FFFFFF;
  }

  button {
    border: 1px solid #000000;
    background: #EEEEEE;
    color: #000000;
  }

  button:active {
    background: #CCCCCC;
  }

  .sys_col_status {
    color: #000000;
  }

  .sys_col_row,
  .sys_col_command {
    color: #000000;
  }

  .sys_col_response {
    font-weight: bold;
    color: #000000;
  }

  .sys_col_response.test_fail,
  .sys_col_message.error,
  .sys_col_message.stack {
    color: #CC0000;
  }

  #sys_col_bar.tests-passed {
    background: #00CC00;
  }

  #sys_col_bar.tests-failed {
    background: #CC0000;
  }

  #sys_col_bar.tests-passed .sys_col_status,
  #sys_col_bar.tests-failed .sys_col_status {
    color: #FFFFFF;
  }

  .sys_col_message.info:before {
    color: #0000FF;
  }

  .sys_col_elapsed {
    color: #E0E0E0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333333;
  }

  button {
    border: 1px solid #333333;
    background: #666666;
    color: #EEEEEE;
  }

  button:active {
    background: #999999;
  }

  .sys_col_status {
    color: #CCCCCC;
  }

  .sys_col_row,
  .sys_col_command {
    color: #CCCCCC;
  }

  .sys_col_response {
    font-weight: normal;
    color: #CCCCCC;
  }

  .sys_col_response.test_fail,
  .sys_col_message.error,
  .sys_col_message.stack {
    color: #CC0000;
  }

  #sys_col_bar.tests-passed {
    background: #008000;
  }

  #sys_col_bar.tests-failed {
    background: #800000;
  }

  #sys_col_bar.tests-passed .sys_col_status,
  #sys_col_bar.tests-failed .sys_col_status {
    color: #CCCCCC;
  }

  .sys_col_message.info:before {
    color: #E0E0E0;
  }

  .sys_col_elapsed {
    color: #808080;
  }
}
